@import "../../styles/lib.scss";

.BookGenreTag {
    display: inline-block;
    color: rgba($white, 0.7);
    padding: 2px 9px;
    border-radius: 12px;
    font-size: 0.65em;
    margin-left: 6px;
    color: rgba($white, 0.9);
    white-space: nowrap;

    &__container {
        margin-top: 4px;
    }
}