@import "../../styles/lib.scss";

.NotFound {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__header {
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }
}