@import "../../../styles/lib.scss";

.Button {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 0.8em;
    padding: 5px 12px 5px 12px;
    border-radius: 20px;
    border: 1px solid transparent;
    height: 25px;
    transition: all 150ms ease-out;

    &--primary {
        color: $white;
        background: $blue;
        border-color: $blue;

        &:hover {
            background: desaturate(darken($blue, 8%), 20%);
            border-color: desaturate(darken($blue, 8%), 20%);
        }
    }

    &--secondary {
        color: $blue;
        background: transparent;
        background: $white;
        border-color: $blue;
    }

    &--secondary--white {
        color: $white;
        background: transparent;;
        border-color: $white;

        &:hover {
            background: rgba($white, 0.075);
            transition: all 150ms ease-out;
        }
    }

    &:hover {
        box-shadow: $box-shadow;
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}