//Greys Anatomy
$grey-50:  #f8f8f9;
$grey-75:  #eaeaea;
$grey-100: #f2f2f2;
$grey-100: #e6e6e6;
$grey-200: #e0e0e0;
$grey-300: #bcbcbc;
$grey-400: #a5a5a5;
$grey-500: #808080;
$grey-600: #666666;
$grey-700: #565656;
$grey-800: #333333;
$grey-900: #000000;


$blue-100: #f1f8ff;
$blue-200: #e3efff;
$blue-300: #a8ccff;
$blue-400: #73abff;
$blue-500: #5393fe;
$blue-600: #4b84e5;
$blue-700: #3a67b2;
$blue-800: #2a4a7f;
$blue-900: #192c4c;



$beige: #fcede5;
$black: $grey-900;
$blue: #5393fe;
$green: #5fb23b;
$grey: #808080;
$grey-light: #989898;
$peach: #f9c4b3;
$purple: #9283ff;
$purple-pink: #a400ff;
$red: #f35d59;
$red--dark: darken($red, 5%);
$salmon: #ff8075;
$slate: #455358;
$white: #ffffff;
$yellow: #fdbe00;


$purpleSlate: #1A051D;

$box-shadow: 0 6px 8px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.2);
$box-shadow--hover: 0 2px 6px 0px rgba(65, 145, 255, 0.25);



$box-shadow: 0 7px 48px rgba(102, 119, 136, 0.22);
$box-shadow--blue: 0 7px 48px rgba(0, 47, 125, 0.12);
$box-shadow--nav: 0 4px 10px rgba(146, 156, 166, 0.15);


$box-shadow__image--blue: 0 7px 48px rgba($blue-800, 0.17);
$box-shadow__image--grey: 0 7px 56px rgba($grey-700, 0.17);

$box-shadow__button--grey: 0 2px 6px 0px rgba(65, 145, 255, 0.25);
$box-shadow__button--blue: 0 2px 8px rgba(0, 47, 125, 0.2);

/* Applied colors */

$background: #fffcf9;
//$background: #fcf3e569;
$background: $white;
//$background: $grey-50;

$text-dark: $grey-900;
$text-light: $grey-400;
$text-lighter: $grey-300;