@import "../../styles/lib.scss";

.Map {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transform: scale(1.2);

    // .countries {
    //     svg {
    //         transition: all 150ms linear;
    //     }
    // }

    &Container {
        height: 100%;
        //min-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //argin-right: 5em;
        //margin-top: 3em;
        //border: 1px solid red;
        overflow: hidden;
    }

    &__spinner {
        margin-bottom: 4em;
        animation: spin 40s linear infinite;
    }

    &__marker {
        opacity: 0.5;
        mix-blend-mode: multiply;

        &--hide {
            opacity: 0;
        }

        &--user {
            mix-blend-mode: normal;
            opacity: 1;
        }

        &--you {
            position: absolute;
            z-index: 10;
            //transform: scale(1.2);
            //top: 387px;
            //left: 956px;
        }
    }
}